* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e2e0f9;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  min-height: 100vh;
}

/* Diseño estilo Kindle */
.disenoKindle {
  background-color: #333333;

  width: 60%;
  max-width: 800px;
  min-width: 320px;
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}
/* header */
header {
  grid-area: header;
  display: flex;
  background-color: #fef7ff;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header-titulo,
.header-batery {
  font-family: "Dancing Script", serif;
  font-size: 20px;
}

.header-batery {
  margin-left: auto; /* Empuja los elementos hacia la derecha */
  margin-right: 10px;
}

.material-symbols-outlined {
  font-size: 30px;
}

/* main */
main {
  grid-area: main;
  height: 100%;
  display: grid;
  grid-template-areas:
    "busqueda"
    "parrafo";
  grid-template-rows: 30% 70%;
  background-color: #e2e0f9;
  padding: 20px;
  gap: 20px;
}

/* seccion texto inicial y buscador */
.textoEntrada {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: #fef7ff;
  justify-content: center;
  align-items: center;
  grid-area: busqueda;
  border-radius: 1em;
}

.textoEntrada-titulo {
  font-size: 25px;
}

.textoEntrada-input {
  text-align: center;
  width: 40%;
}

.btn-text {
  padding: 10px 20px;
  background-color: #e2e0f9;
  color: #fef7ff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-text:hover {
  background-color: #dfcaea;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* seccion texto */
.texto {
  grid-area: parrafo;
  background-color: #fef7ff;

  padding: 20px;
  border-radius: 1em;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
}

.texto-title {
  font-style: oblique;
}

.texto-parrafo {
  font-size: 1rem;
  line-height: 1.2;
  word-wrap: break-word; /* Permite romper palabras largas */
}

/* footer */
/* Estilos generales del footer */
.footer {
  grid-area: footer;
  font-family: "Dancing Script", serif;

  bottom: 0;
  left: 0;
  width: auto;
  padding: 1rem 2rem;
  background-color: #fef7ff;
  border-top: 1px solid #e5e7eb;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Centrado de los textos en pantallas pequeñas */
.footer .footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #333333;
  margin: 0;
}

.footer .footer-text a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 5px; /* Espacio entre los textos */
}

.footer .footer-text a:hover {
  color: #1f2937;
  text-decoration: underline;
}
.footer-text a:hover {
  text-decoration: underline;
  color: #1f2937;
}

/* Estilos para los iconos en el footer */
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.footer-nav-item {
  font-size: 1.5rem;
  color: #e2e0f9;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav-item:hover {
  color: #1f2937;
}

/* CONTAINER-KINDLE */
.container-kindle {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kindle {
  font-size: 2.5rem;
  color: #5f5f5f;
  font-family: Arial, sans-serif;
}
/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .disenoKindle {
    width: 90%;
  }

  .kindle {
    font-size: 1.8rem;
  }
}

/* Ajustes responsivos para pantallas ultra pequeñas */
@media (max-width: 480px) {
  .disenoKindle {
    padding: 1.5em;
  }

  .kindle {
    font-size: 1.5rem;
    padding: 1em;
  }
}
/* Para pantallas medianas en adelante */
@media (min-width: 768px) {
  .disenoKindle {
    width: 70%;
    padding: 2em;
  }

  .kindle {
    font-size: 1.8rem;
    padding: 1em;
  }
  /* seccion texto inicial y buscador */
  .textoEntrada {
    display: flex;
    flex-direction: row;

    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    box-sizing: border-box;
    height: 100%; /* Asegura que ocupe toda la altura disponible */
  }

  .textoEntrada-titulo,
  .textoEntrada-input,
  .btn-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 60%; 

    height: 50px; 
    text-align: center; 
  }

  .textoEntrada-titulo {
    font-size: 16px;
    font-weight: bold;
  }

  .textoEntrada-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
  }

  .btn-text {
    background-color: #e2e0f9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn-text:hover {
    background-color: #ccc;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer .footer-text {
    display: block;
  }

  .footer .footer-text a:last-child {
    margin-left: 20px;
  }
}
